<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking-Manager</title>

    <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">

</head>
<body>

    <div class="menu">
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/members">Members</a>
                </li>
                <li> 
                    <a href="/members/new">New Member</a>
                </li>
                <li>
                    <a href="/classes">Classes</a>
                </li>
                <li>
                    <a href="/bookings">Book a class</a>
                </li>
            </ul>
        </nav>
    </div>

    <section id="content">
        <%= yield %>
    </section>
</body>
</html>