<h1>New Yoga Session</h1>

<form action="/sessions/new/time" method="get">
    <div class="form">

        <div class="form-element">
            <label for="category">Category:</label>
            <select name="category" id="category">
                <% for yoga_class in @all_classes%>
                <option value="<%yoga_class.category%>" selected><%= yoga_class.category %></option>
                <% end %>
            </select>
        </div>

        <div class="form-element">
            <label for="title">Title:</label>
            
            <select name="title" id="title">
            <% for yoga_class in @all_classes%>
                
                    <option> <%=yoga_class.title%></option>
                
            <% end %>
            </select>
            
        </div>
        
         <div class="form-element">
            <input type="submit" value=">> Next">
        </div>
        
    </div>
</form>