.btn {
    background-color: rgb(15, 138, 80);
    color: white;
    border: none;
    border-radius: 5%;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 10px 10px 10px 0px;
}

.inline-block {
    display: inline-block;
}