.table {
    border: 2px solid black;
    margin-top: 20px;
    align-items: center;
    table-layout: fixed;
    text-align: left;
    padding: 5px;
    width: auto;
}

.element {
    display: table-cell;
    
}

th {
    padding: 0px 20px 10px 0px;
    
}

#footnote {
    font-size: 13px;
}

#link {
    color: darkgreen;
    text-decoration: none;
    font-weight: bold;
}