body {
    font-family: 'Muli', sans-serif;
    background-image: url('/images/heart-chakra.jpeg');
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: scroll;
    background-size: 9cm;
}

h1 {
    font-size: 28px;
    font-weight: 800;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

.bold {
    font-weight: 800;
}

.menu {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(142, 230, 164);
    overflow-x: hidden;
    padding-top: 60px;
}

.menu li {
    list-style-type: none;
}

.menu a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    font-weight: bold;
}

.menu a:hover {
    font-size: 21px;
}

#content {
    transition: margin-left .5s;
    padding-left: 250px;
    padding-top: 45px;
}

.tt-element {
    border: 1px solid black;
}

