#timetable-a {
    color: rgb(15, 138, 80);
    text-decoration: none;
}

#timetable {
    border-collapse: collapse;
    border: 2px solid black;
    margin-top: 20px;
    align-items: center;
    table-layout: fixed;
    width: 70%;
    text-align: center;
    background-color: white;
}

.tt-wrap {
    height: 80px;
}

.tt-element {
    width: 8%;
    display: table-cell;
    text-align: center;
}

th, td {
    font-size: 15px;
}