<h1>All classes *</h1>


<form  action="/classes/new" method="get">
    <input class="btn" type="submit" value="Create New Class">
</form>

<table id="ClassesTable">
    <tr class="header">
        <th>Category</th>
        <th>Title</th>
    </tr>

    <% for c in @yoga_classes %>
    <tr>
        <td><%= c.category%></td>
        <td></td>
        <td><%= c.title%></td>
        <td></td>
        <td>
            <form  action="/classes/<%= c.id%>/edit" method="get">
                <input class="btn" type="submit" value="Edit">
            </form>
        </td>
    </tr>

    <% end %>

</table>

<p id="footnote">(*all our classes are 1 hour long)</p>